# Google Maps API Keys for Quickly Delivery
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSy_YOUR_GOOGLE_MAPS_API_KEY_HERE

# Supabase Credentials
EXPO_PUBLIC_SUPABASE_URL=https://your-supabase-project.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

